.vagrant
site/app/tmp/*
!site/app/tmp/
 
site/app/tmp/cache/*
!site/app/tmp/cache/
!site/app/tmp/cache/empty
 
site/app/tmp/cache/models/*
!site/app/tmp/cache/models/
!site/app/tmp/cache/models/empty
 
site/app/tmp/cache/persistent/*
!site/app/tmp/cache/persistent/
!site/app/tmp/cache/persistent/empty
 
site/app/tmp/cache/views/*
!site/app/tmp/cache/views/
!site/app/tmp/cache/views/empty
 
site/app/tmp/logs/*
!site/app/tmp/logs/
!site/app/tmp/logs/empty
 
site/app/tmp/sessions/*
!site/app/tmp/sessions/
!site/app/tmp/sessions/empty
 
site/app/tmp/tests/*
!site/app/tmp/tests/
!site/app/tmp/tests/empty
site/app-admin/tmp/*
!site/app-admin/tmp/
 